<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Gazouilli</title>
<link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/4.2.3/css/foundation.min.css">
<link rel="stylesheet" href="/styles.css">
</head>
<body>
<div id="content" class="row">
  <div class="large-12 columns">
    <h1>Gazouilli</h1>
    <%= yield %>
  </div>
</div>
</div>
</body>
</html>
