<form action="/authenticate" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password">
  <input class="button" type="submit" value="Log in">
</form>
