<ul class="large_list">
<% @tweets.each do |tweet| %>
  <li>
    <div class="row">
      <div class="large-2 columns">
        <strong>@<%= tweet.user.username %></strong>
      </div>
      <div class="large-10 columns">
        <%= tweet.text %>
      </div>
    </div>
  </li>
<% end %>
</ul>
